<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI7MIF6BOiWMLj32BUDWU8zYXcKhfZYIo</string>
	<key>GCM_SENDER_ID</key>
	<string>85207850072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.retro</string>
	<key>PROJECT_ID</key>
	<string>retrovault121</string>
	<key>STORAGE_BUCKET</key>
	<string>retrovault121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85207850072:ios:0f1ab2d0d419ac76e93e2d</string>
</dict>
</plist>